#overview {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.table {
    margin: 1%;

    border-width: 2px;
    border-style: solid;
    border-color: var(--compClr);
    border-radius: 24px;

    background-color: var(--compClr);
}

.table:hover {
    background-color: var(--txtClr);
    color: var(--compClr);
}