.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-right: 10px;
}

.workdays-container {
    margin-top: 20px;
}

.workday {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.date {
    font-weight: bold;
}

.shift {
    font-style: italic;
}