:root {
    --bordRad: 8px;
    --sBordrad: calc(var(--bordRad) - 2.2px);
}

#shiftshedule {
    min-height: 100px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    color: #000;

    background-color: #444;
}

#currentDay {
    background-color: #1c1;
    color: red;
}

.day {
    height: 5em;

    align-content: space-between;

    margin: 2%;

    border-width: 2px;
    border-style: solid;
    border-color: #222;
    border-radius: var(--bordRad);

    background-color: #222;

    color: #fff;
}

.day:hover {
    background-color: transparent;
    color: #000;
}

.dayName {
    height: auto;
    border: inherit;
    border-radius: var(--sBordrad);
    color: inherit;

    font-size: calc(6px + 0.3em);

    align-self: auto;
}

.dayHours {
    font-size: 20px;
    color: #000;

    width: min-content;
    height: auto;

    align-self: baseline;

    border-width: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: var(--sBordrad);

    background-color: #fff;
}