:root {
    --miscMenuBG: #222;
}

#MiscMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-content: normal;
}

.mMComp {
    margin: 1%;
    border: solid 2px var(--compClr);
    border-radius: 6px;
    background-color: var(--compClr);
}

.mMComp:hover {
    background-color: var(--txtClr);
    color: var(--compClr);
}