body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nwsBtn {
border: 1px solid #e500e5;
background: #fff;
color:aqua;
}

nwsBtn-light {
background: transparent;
color:#00bfbf;
}

btn:hover{
  background: #1020f0;
  color: #000;
  transition: 0,3s;
}
