:root {
    --bordRad: 20px;
    --sBordrad: calc(var(--bordRad) - 4.4px);
}

#shiftshedule {
    

    display: flex;
    justify-content: space-around;
    
  

    color: var(--txtClr);
}

.day {
    margin: 2%;
    width: 300px;

    border-width: 4px;
    border-style: solid;
    border-color: var(--compClr);
    border-radius: var(--bordRad);

    background-color: var(--compClr);
}

.day:hover {
    display: initial;
    background-color: var(--txtClr);
    color: var(--compClr);
}

.dayName {
    border-radius: var(--sBordrad);
}

.dH {
    border-width: inherit;
    border-style: solid;
    border-color: var(--scompClr);
    background-color: var(--scompClr);

}

.dH:hover {
    border-color: var(--compClr);
    background-color: var(--txtClr);
}

.dHTop {
    border-bottom: 0;
    border-top-left-radius: var(--sBordrad);
    border-top-right-radius: var(--sBordrad);
}

.dHBot {
    border-top: 0;
    border-bottom-left-radius: var(--sBordrad);
    border-bottom-right-radius: var(--sBordrad);
}

.dayHours:hover {
    background-color: var(--compClr);
    color: #ddd;
}
@media screen and (max-width: 1200px) {
    #shiftshedule {
    

        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;

      
    
    }
    
}